

<div class="container-fluid">

    <div *ngIf="lastOpStatus" class="top-message alert alert-success">
      {{ lastOpStatus }}
    </div>

    <h1>DSPS Forms</h1>
  <div class="row">
    <div class="col-sm-8">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title inline" id="dsps-forms" aria-label="DSPS Online Forms">
             Online Forms.
          </div>
        </div> <!-- panel-heading -->

        <div class="panel-body">
          <p id="online-form-2">Please select a form to fill and submit.</p>
          <table class="table table-bordered">
            <tr *ngFor="let formName of formNames; let i=index" >

              <td [id]="'onlineForm' + i" [attr.aria-label]="getAria(formName)">
                <a [routerLink]="[newFormAbsolute2 + formName]"
                [attr.aria-labelledby]="'dsps-forms online-form-2 onlineForm'  + i"
                >
                  {{ getFormTitle(formName) }}
                </a>
              </td>
              <td >
                <!-- was *ngIf="formName !== 'feedback'" -->
                <a   [routerLink]="[agreementView2 + formName]" aria-label="view student agreement">
                    <i class="fas fa-file-contract"
                    aria-label="view student agreement"
                    ></i>
                </a>
              </td>


              <td *ngIf="auth.adminAuth  ">
                <!-- edit/create for admin only -->
                <a
                  [routerLink]="[agreementCreateEdit2 + formName]">
                  <i class="glyphicon glyphicon-edit" ></i>
                </a>
              </td>


            </tr>

          </table>
        </div> <!-- panel-body -->
      </div> <!-- panel, panel-default -->

      <div class="panel panel-default">
          <div class="panel-heading">
            <div id="pdf-forms" class="panel-title inline">
                PDF Forms.
            </div>
          </div> <!-- panel-heading -->

          <div class="panel-body">
            <div id="sub-pdf-forms">
                <p>These forms require coordination with an outside professional or your instructor.
                    Please print, fill them out, and bring it to DSPS.</p>
            </div>

            <ul class="list-group">
              <li class="list-group-item" >
                <a [href]="server + '/pdf/Disability_Verification.pdf'">Disability Verification By Outside Resource </a>
              </li>
              <li class="list-group-item" >
                  <a [href]="server + '/pdf/TAR2015.pdf'"> Testing Accommodation Request Form</a>
                </li>

            </ul>
          </div> <!-- panel-body -->
        </div> <!-- panel, panel-default -->


    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container-fluid -->
