<div class="container-fluid">

  <div *ngIf="err"> {{ errMsg || '' }} <br> {{ err }} </div>

  <h1>{{ title }} </h1>

  <!-- layout based on
      https://stackoverflow.com/questions/23581571/twitter-bootstrap-3-form-horizontal-and-multiple-input-columns-on-single-line
  -->

  <div class="row">
    <div class="col-sm-8">

    <legend class="small">All fields are required.</legend>

    <form [formGroup]="form" (ngSubmit)="createOrEditForm()" >

    <div class="well">

      <fieldset>
          <div class="form-group">
            <label id="initialDate" for="initialDate">Initial Date of Application for DSPS Services *</label>
            <input
              type="text"
              class="form-control"
              formControlName="initialDate"
              aria-required="true"
              aria-labelledby="initialDate">

            <div *ngIf="form.get('initialDate').touched && form.get('initialDate').hasError('required')"
                class="alert alert-danger" >
                Initial Date is required
            </div>
          </div> <!-- form-group, initial date -->

        <div class="form-group">
          <label for="fullName">Name <i class="glyphicon glyphicon-asterisk"></i> </label>
            <input
                type="text"
                class="form-control"
                formControlName="fullName"
                aria-required="true"
                aria-labelledby="fullName" >

            <div *ngIf="form.get('fullName').touched && form.get('fullName').hasError('required')"
                class="alert alert-danger" >
                Name is required
            </div>
        </div> <!-- form-group, full name -->

        <div class="form-group">
          <label id="collegeId" for="collegeId">College ID <i class="glyphicon glyphicon-asterisk"></i> </label>
          <input
              type="text"
              class="form-control"
              placeholder="G0 followed by 7 digits"
              formControlName="collegeId"
              id="collegeIdPlaceHolder"
              aria-required="true"
              aria-labelledby="collegeId collegeIdPlaceHolder">

          <div *ngIf="collegeId.touched && collegeId.hasError('required')"
              class="alert alert-danger" >
              College ID is required
          </div>
          <div *ngIf="collegeId.touched && collegeId.errors?.collegeIdFormat"
              class="alert alert-danger" >
              College ID is of the format G0 followed by 7 digits
          </div>
        </div> <!-- form-group -->

        <div class="form-group">
          <label id="phone" for="phone">Phone <i class="glyphicon glyphicon-asterisk"></i></label>
          <input
              type="text"
              class="form-control"
              formControlName="phone"
              aria-required="true"
              aria-labelledby="phone">

          <div *ngIf="form.get('phone').touched && form.get('phone').hasError('required')"
              class="alert alert-danger" >
              Phone is required
          </div>
        </div> <!-- form-group -->
      </fieldset>
    </div> <!-- well -->

    <div class="well">
      <fieldset>
        <legend>Please type your name to sign</legend>
        <div class="form-group">
            <label id="signature" for="studentSignature">Signature (type your name)
              <i class="glyphicon glyphicon-asterisk"></i>
              <app-agreement-link-dialog [formName]="formName"></app-agreement-link-dialog>

              <!--
                By signing, you agree to the <a [routerLink]="['/agreementView', formName]">Terms of Service</a>
              -->
            </label>
          <input
              type="text"
              class="form-control"
              formControlName="studentSignature"
              aria-required="true"
              aria-labelledby="signature">

          <div *ngIf="form.get('studentSignature').touched && form.get('studentSignature').hasError('required')"
              class="alert alert-danger" >
              Student signature is required
          </div>
        </div> <!-- form-group -->
      </fieldset>
    </div>
    <div *ngIf="captchaError" class="alert alert-danger">
      A correct reCaptcha is needed to submit this form. If you are having
      difficulty, please contact DSPS.
    </div>
    <div class="form-row right vert-space">


      <!-- this is reCaptcha v2. creates a lot of friction in user experience
        with repeated challenges, over and over, even if user answers correctly.
        very annoying.

        <re-captcha
          size="invisible" #captchaRef="reCaptcha"
          (resolved)="resolved($event)"
          siteKey="6LcZBmoUAAAAAI6y6cbQGYhuLkNlg8ingCCIrRYY">
        </re-captcha>
      -->

        <!--
          if using reCaptcha v2, remove type="submit" on the button so we don't submit twice
          instead, have the button with (click)="captchaRef.execute()"
        -->
        <button
          type="submit"
          [disabled]="!form.valid || !form.dirty || formSubmitted"
          class="btn btn-primary"
        >Submit</button>
        <div *ngIf="!form.valid || !form.dirty">
            <br>
            <legend class="small">
              This button will be enabled only after all fields are filled.
            </legend>
        </div>

        <app-spinner [visible]="formSubmitted"></app-spinner>

    </div>

    </form>

    </div> <!-- col-sm-8 -->
  </div> <!-- row -->

</div> <!-- container -->
