<div class="container-fluid">

<div *ngIf="err"> {{ errMsg || '' }} <br> {{ err }} </div>

<h1 id="formTitle">{{ title }} </h1>

<!-- layout based on
  https://stackoverflow.com/questions/23581571/twitter-bootstrap-3-form-horizontal-and-multiple-input-columns-on-single-line
-->

<div class="row">
    <div class="col-sm-8">

        <legend class="small">Fields marked with <i class="glyphicon glyphicon-asterisk"></i> are required.</legend>


<form [formGroup]="form" (ngSubmit)="createOrEditForm()" >

<div class="well">



<fieldset>
  <legend id="you" aria-label="Your" >You</legend>

  <div class="form-group">
      <label id="fullName" for="fullName">Full Name <i class="glyphicon glyphicon-asterisk"></i></label>
      <input
                  type="text"
                  class="form-control"
                  formControlName="fullName"
                  aria-labelledby="formTitle you fullName"
                  aria-required="true"
                  >
        <!-- aria-live="assertive" means the text will be spoken whenever the value changes -->
        <div *ngIf="form.get('fullName').touched && form.get('fullName').hasError('required')"
                  class="alert alert-danger" tabindex="0" >
                  Name is required
        </div>
  </div> <!-- form-group, full name -->

  <div class="form-group">
    <label id="collegeId" for="collegeId">College ID <i class="glyphicon glyphicon-asterisk"></i></label>
      <input
                  type="text"
                  class="form-control"
                  placeholder="G0 followed by 7 digits"
                  formControlName="collegeId"
                  id="collegeIdPlaceHolder"
                  aria-labelledby="you collegeId collegeIdPlaceHolder"
                  aria-required="true"
                  aria-placeholder="G0 followed by 7 digits"
                  >
    <div *ngIf="collegeId.touched && collegeId.hasError('required')"
                      class="alert alert-danger" tabindex="0" >
                      College ID is required
    </div>
    <div *ngIf="collegeId.touched && collegeId.errors?.collegeIdFormat"
          class="alert alert-danger" tabindex="0"  >
          College ID is of the format G0 followed by 7 digits
    </div>

  </div> <!-- form-group, college id -->
</fieldset>

</div> <!-- well-->

<div class="well">

<fieldset>
  <legend id="contactInfo" aria-label="Your" >Your Contact Information</legend>

  <div class="form-group">
    <label id="addressLine1" for="addressLine1">Address Line</label>

    <input
              type="text"
                class="form-control"
                formControlName="addressLine1"
                aria-labelledby="contactInfo addressLine1"
                >
  </div>  <!-- form-group, addressLine1 -->

  <div class="form-group">
    <label id="city" for="city" >City</label>
    <input
          type="text"
          class="form-control"
          formControlName="city"
          aria-labelledby="contactInfo city"
          >
  </div> <!-- form-group, city -->

  <div class="form-group">
    <label id="zip" for="zip">Zip</label>
    <input
        type="text"
        class="form-control"
        formControlName="zip"
        aria-labelledby="contactInfo zip"
        >
</div> <!-- form-group, zip -->

<div class="form-group">
    <label id="homePhone" for="homePhone">Home Phone</label>
    <input
      type="text"
      class="form-control"
      formControlName="homePhone"
      aria-labelledby="contactInfo homePhone"
      >
</div>

<div class="form-group">
    <label id="cellPhone" for="cellPhone">Cell Phone</label>
    <input
      type="text"
      class="form-control"
      formControlName="cellPhone"
      aria-labelledby="contactInfo cellPhone"
      >
</div>

<div class="form-group">
    <label id="email" for="email">Email</label>
    <input
        type="text"
        class="form-control"
        formControlName="email"
        aria-labelledby="contactInfo email"
        >
    <div *ngIf="email.touched && email.errors?.email"
        class="alert alert-danger" tabindex="0" >
        Please check to make sure your email is correct
    </div>
</div>
</fieldset>
</div> <!-- well, contact info-->

<div class="well">


<!-- see https://angular.io/guide/reactive-forms for radio example -->

<!-- for radio, name= is needed for Chrome to know they are different radio groups for
accessibility related tabbing -->

    <legend id="aBitAboutYou" aria-label="Your" >A Bit About You</legend>

  <fieldset>
    <div class="form-group" >
        <label id="gender" class="space-right" >Gender</label>
        <label id="male" class="radio-inline">
            <input  type="radio" name="gender" formControlName="gender" value="male"
                aria-labelledby="aBitAboutYou gender male" >Male
        </label>
        <label id="female" class="radio-inline">
            <input type="radio" name="gender" formControlName="gender" value="female"
            aria-labelledby="aBitAboutYou gender female" >Female
        </label>
    </div>  <!-- form-group, gender -->
  </fieldset>

    <div class="form-group">
        <label id="dob" for="dob">Date of Birth</label>
        <input
            type="text"
            class="form-control"
            formControlName="dob"
            aria-labelledby="aBitAboutYou dob"
        >
    </div>

    <!-- occupation + how long -->

    <div class="row">
      <div class="form-group col-sm-6">
          <label id="occupation" for="occupation" >Occupation</label>
            <div>
              <input
                    type="text"
                    class="form-control"
                    formControlName="occupation"
                    aria-labelledby="aBitAboutYou occupation"
                    aria-controls="occupationHowLongWrap"
              >
            </div>
      </div> <!-- form-group occupation -->

      <!-- this stuff is not hidden with css, it just shows up in the DOM or gets removed from the DOM by Angular's engine
          so no need for aria-hidden
      -->
      <div class="form-group col-sm-6" *ngIf="form.get('occupation').value" id="occupationHowLongWrap">
          <label id="occupationHowLong" for="occupationHowLong">How Long?</label>
          <div>
              <input
                    type="text"
                    class="form-control"
                    formControlName="occupationHowLong"
                    aria-labelledby="aBitAboutYou occupation occupationHowLong"
              >
          </div>
      </div> <!-- form-group occupationHowLong -->
    </div>  <!-- row on occupation + how long -->
     <!-- container on occupatino + how long -->

    <div class="form-group">
      <label id="homeLang" for="homeLang">Language Spoken at home other than English?</label>
          <input
          type="text"
          class="form-control"
          formControlName="homeLang"
          aria-labelledby="homeLang"
          >
    </div>

 <!-- more of You -->
</div> <!-- well, more about you -->

<div class="well">


    <legend  >Person to Notify in Case of Emergency</legend>

    <div id="emergencyContact" formGroupName="emergencyContact" aria-label="Emergency contact" >

        <div class="form-group">
            <label id="emergencyContactName" for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  aria-labelledby="emergencyContact emergencyContactName"
                >
        </div>

        <div class="form-group">
            <label id="emergencyContactRelationship" for="relationship">Relationship</label>
            <input
                    type="text"
                    class="form-control"
                    formControlName="relationship"
                    aria-labelledby="emergencyContact emergencyContactRelationship"
                >
        </div>

        <div class="form-group">
            <label id="emergencyContactHomePhone" for="homePhone">Home Phone</label>
            <input
                type="text"
                class="form-control"
                formControlName="homePhone"
                aria-labelledby="emergencyContact emergencyContactHomePhone"
            >
        </div>

        <div class="form-group">
            <label id="emergencyContactWorkPhone" for="workPhone">Work Phone</label>
            <input
                    type="text"
                    class="form-control"
                    formControlName="workPhone"
                    aria-labelledby="emergencyContact emergencyContactWorkPhone"
            >
        </div>

        <div class="form-group">
            <label id="emergencyContactCellPhone" for="cellPhone">Cell Phone</label>
            <input
                type="text"
                class="form-control"
                formControlName="cellPhone"
                aria-labelledby="emergencyContact emergencyContactCellPhone"
            >
        </div>

    </div> <!-- emergencyContact -->


</div> <!-- well, emergency contact -->

<div class="well">


  <legend>Your Educational Background and Accommodation Related Information</legend>




  <div class="form-group"  >
    <label id="highSchoolDiploma"> Do you have a high school diploma?</label>
    <label id="highSchoolDiplomaYes" class="radio-inline" aria-label="yes">
        <input type="radio" name="hasDiploma" formControlName="hasDiploma" value="yes"
          aria-labelledby="highSchoolDiploma highSchoolDiplomaYes">Yes
    </label>
    <label id="highSchoolDiplomaNo" class="radio-inline" aria-label="no">
        <input type="radio" name="hasDiploma" formControlName="hasDiploma" value="no"
        aria-labelledby="highSchoolDiploma highSchoolDiplomaNo"  >No
    </label>
  </div>
  <div class="form-group" *ngIf="form.get('hasDiploma').value == 'yes'">
    <label >High School</label>
     <input
          type="text"
          class="form-control"
          formControlName="highSchool"
          aria-label="High School"
        >

  </div>  <!-- form-group , high school -->

  <div class="form-group">
      <label id="numSemsAtMission" for="numSemsAtMission">Number of semesters at Mission College?</label>
        <input
              type="text"
              class="form-control"
              formControlName="numSemsAtMission"
              aria-labelledby="numSemsAtMission"
          >
  </div>

  <div class="form-group">
      <label id="plannedMajor" for="plannedMajor">What is your planned Academic or Vocational major?</label>
        <input
              type="text"
              class="form-control"
              formControlName="plannedMajor"
              aria-labelledby="plannedMajor"
          >
  </div>

  <div class="form-group"  >
      <label id="hasCounselor" > Do you have a Mission College counselor?</label>
      <label id="hasCounselorYes" class="radio-inline" aria-label="yes">
          <input type="radio" name="hasCounselor" formControlName="hasCounselor" value="yes"
            aria-labelledby="hasCounselor hasCounselorYes">Yes
      </label>
      <label id="hasCounselorNo" class="radio-inline" aria-label="no">
          <input type="radio" name="hasCounselor" formControlName="hasCounselor" value="no"
          aria-labelledby="hasCounselor hasCounselorNo"  >No
      </label>
    </div>
    <div class="form-group" *ngIf="form.get('hasCounselor').value == 'yes'">
      <label >Counselor Name</label>
       <input
            type="text"
            class="form-control"
            formControlName="counselorName"
            aria-label="Counselor Name"
          >

    </div>  <!-- form-group , counselor -->

  <div class="row">
    <div class="form-group" class="col-sm-6">
        <label id="referrer" for="referrer" >Who referred you to the program?</label>
        <input
          type="text"
          class="form-control"
          formControlName="referrer"
          aria-labelledby="referrer"
        >
    </div>
    <div class="form-group" class="col-sm-6">
        <label id="referrerWhy" for="referrerReason">Why?</label>
        <input
            type="text"
            class="form-control"
            formControlName="referrerReason"
            aria-labelledby="referrer referrerWhy"
        >
    </div>
  </div>

  <!-- some vertical space -->
  <div style="height:20px;"></div>


    <div class="form-group" >
      <label id="isDeptRehabClient" class="space-right">Are you a Department of Rehabilitation Client?</label>
      <label id="isDeptRehabClientYes" for="isDeptRehabClient" class="radio-inline">
          <input type="radio" name="isDeptRehabClient" formControlName="isDeptRehabClient" value="yes"
          aria-labelledby="isDeptRehabClient isDeptRehabClientYes">Yes
      </label>
      <label id="isDeptRehabClientNo" for="hasCounselor" class="radio-inline ">
          <input type="radio" name="isDeptRehabClient" formControlName="isDeptRehabClient" value="no"
          aria-labelledby="isDeptRehabClient isDeptRehabClientNo">No
      </label>
    </div>


    <div class="form-group" *ngIf="form.get('isDeptRehabClient').value == 'yes' ">

        <label id="rehabCounselorName" for="rehabCounselorName">Rehab Counselor's Name</label>
        <input
            type="text"
            class="form-control"
            formControlName="rehabCounselorName"
            aria-labelledby="rehabCounselorName"
          >
    </div>

     <!-- form-group, rehab counselor -->



  <div formGroupName="services">

    <div class="form-group">
      <label id="servicesFrom" >Please check each program you receive services from:</label> <br>
      <label id="eops" for="eops" class="checkbox-inline">
          <input type="checkbox" formControlName="eops"
                aria-labelledby="servicesFrom eops">EOPS
      </label>
      <label id="calworks" for="calWorks" class="checkbox-inline">
          <input type="checkbox" formControlName="calWorks"
                aria-labelledby="servicesFrom calworks">CalWORKS
      </label>
      <label id="ssdi" for="ssdi" class="checkbox-inline">
          <input type="checkbox" formControlName="ssdi"
          aria-labelledby="servicesFrom ssdi">SSDI
      </label>
      <label id="access" for="access" class="checkbox-inline">
          <input type="checkbox" formControlName="access"
          aria-labelledby="servicesFrom access">ACCESS
      </label>
    </div>
  </div>



  <div class="form-group" >
      <label id="wantSevicesInfo" >Would you like information about these programs?</label>
      <label id="wantSevicesInfoYes"  class="radio-inline" aria-label="yes">
          <input type="radio" name="wantSevicesInfo" formControlName="wantSevicesInfo" value="yes"
              aria-labelledby="wantSevicesInfo wantSevicesInfoYes" >Yes
      </label>
      <label id="wantSevicesInfoNo"  class="radio-inline" aria-label="no">
          <input type="radio" name="wantSevicesInfo" formControlName="wantSevicesInfo" value="no"
              aria-labelledby="wantSevicesInfo wantSevicesInfoNo" >No
      </label>
  </div>




  <div class="form-group" >
      <label id="enrolledInAnotherCC" >Are you currently enrolled at another Community College?</label>
      <label id="enrolledInAnotherCCYes"  class="radio-inline" aria-label="yes">
          <input type="radio" name="enrolledInAnotherCC" formControlName="enrolledInAnotherCC" value="yes"
              aria-labelledby="enrolledInAnotherCC enrolledInAnotherCCYes" >Yes
      </label>
      <label id="enrolledInAnotherCCNo"  class="radio-inline" aria-label="no" >
          <input type="radio" name="enrolledInAnotherCC" formControlName="enrolledInAnotherCC" value="no"
              aria-labelledby="enrolledInAnotherCC enrolledInAnotherCCNo" >No
      </label>
  </div>


  <div class="form-group" >
      <label id="receivingFinAid" >Are you currently receiving Financial Aid?</label>
      <label id="receivingFinAidYes" class="radio-inline" aria-label="yes">
          <input type="radio" name="receivingFinAid" formControlName="receivingFinAid" value="yes"
              aria-labelledby="receivingFinAid receivingFinAidYes" >Yes
      </label>
      <label id="receivingFinAidNo"  class="radio-inline" aria-label="no">
          <input type="radio"  name="receivingFinAid" formControlName="receivingFinAid" value="no"
              aria-labelledby="receivingFinAid receivingFinAidNo">No
      </label>
  </div>


    <div class="form-group" >
      <label id="hasDisability" >Do you currently have a health, psychological or learning disability?</label> <br>
      <label id="hasDisabilityYes"  class="radio-inline" aria-label="yes">
          <input type="radio" name="hasDisability" formControlName="hasDisability" value="yes"
              aria-labelledby="hasDisability hasDisabilityYes" >Yes
      </label>
      <label id="hasDisabilityNo"  class="radio-inline" aria-label="no">
          <input type="radio"  name="hasDisability" formControlName="hasDisability" value="no"
              aria-labelledby="hasDisability hasDisabilityNo" >No
      </label>
    </div>




    <div class="form-group" *ngIf="form.get('hasDisability').value == 'yes' " >
        <label >Describe your disability</label>
        <input
            type="text"
            class="form-control"
            formControlName="disabilityDesc"
            aria-label="Describe your disability"

          >
    </div>

    <!-- form-group, disabilityDesc -->





  <div class="form-group">
      <label id="medSideEffects" >Educationally related side-effects of Medication, if any:</label>
          <textarea
            placeholder="Medication side effects"
            class="form-control"
            formControlName="medSideEffects"
            rows="3"
            aria-labelledby="medSideEffects">
          </textarea>
  </div>

  <div class="form-group">
      <label id="accommodationDesc" >Briefly explain the accommodations you may require:</label>
          <textarea
            placeholder="Accommodations"
            class="form-control"
            formControlName="accommodationDesc"
            rows="3"
            aria-labelledby="accommodationDesc">
          </textarea>
  </div>



</div> <!-- well, edu background and accommodation needs -->

    <!-- agreement format: /agreementView/intakeForm -->

        <div class="form-group" class="col-sm-6">
            <label id="signature" for="signature">Signature (type your name) <i class="glyphicon glyphicon-asterisk"></i>
              <app-agreement-link-dialog [formName]="formName"></app-agreement-link-dialog>
            </label>
                <input
                    type="text"
                    class="form-control"
                    formControlName="signature"
                    aria-required="true"
                    aria-labelledby="signature"
                >
                <div *ngIf="form.get('signature').touched && form.get('signature').hasError('required')"
                        class="alert alert-danger" tabindex="0" >
                        Signature is required
                </div>
        </div> <!-- form-group signature -->


        <div class="form-row right vert-space">
            <button type="submit"
                    [disabled]="!form.valid || !form.dirty"
                    class="btn btn-primary"
            >Submit</button>
            <div *ngIf="!form.valid || !form.dirty">
                <br>
                <legend class="small">
                  You can submit only if required fields are filled
                </legend>
            </div>

        </div>


  </form>

</div> <!-- outer col-sm-6 well -->
</div> <!-- outer row -->

</div> <!-- container -->

<div> &nbsp;
    <!-- some space-->
    <p> &nbsp;</p>
    <p> &nbsp;</p>
</div>


