<div class="container-fluid" *ngIf="initialized" >

  <div class="row">
    <div class="col-sm-8">

  <form [formGroup]="signUpForm" (ngSubmit)="addStaffMember()" >

  <div class="well">
    <fieldset>
      <legend>Add New User (staff and/or admin)</legend>
      <legend class="small">All fields are required.</legend>

      <div class="form-group">
          <label >Email address</label>
          <input type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email address" >
          <div *ngIf="email.touched && !email.valid"
              class="alert alert-danger">
              <div *ngIf="email.errors.required">
                  Email is required.
              </div>
              <div *ngIf="!email.errors.required && email.errors.email">
                  Email format is incorrect.
              </div>
          </div>
      </div>
      <div class="form-group">
          <label >Name</label>
          <input type="name"
              class="form-control"
              formControlName="name"
              placeholder="Name" >
          <div *ngIf="name.touched && !name.valid"
              class="alert alert-danger">
              <div *ngIf="name.errors.required">
                  Name is required.
              </div>
          </div>
      </div>


      <div class="form-group">
          <label  >Password</label>
          <input type="password"
              class="form-control"
              formControlName="password"
              placeholder="Password" >

          <div *ngIf="password.touched && !password.valid">
              <div *ngIf="password.errors.required"
                  class="alert alert-danger">
                  Password is required.
              </div>
          </div>

      </div>

      <div class="form-group">
        <label  >Repeat Password</label>
        <input type="password"
            class="form-control"
            formControlName="password2"
            placeholder="Repeat Password" >

        <div *ngIf="password2.touched && this.signUpForm.errors?.passwordsMustMatch"
          class="alert alert-danger">
          Passwords must match.
        </div>

      </div>

      <div class="form-group">
        <label>Please check <u>all</u> that apply:</label> <br>
        <label for="isStaff" class="checkbox-inline">
            <input type="checkbox" formControlName="isStaff"  >Staff
        </label>
        <label for="isAdmin" class="checkbox-inline ">
            <input type="checkbox" formControlName="isAdmin" >Admin
        </label>
      </div>

      <div *ngIf="(isAdmin.touched || isStaff.touched) && this.signUpForm.errors?.atLeastOneOfAdminOrStaff"
        class="alert alert-danger">
        User must be Staff and/or Admin
      </div>


      <button class="btn btn-primary"
        [disabled]="!signUpForm.valid || !signUpForm.dirty"
          type="submit" >Add User</button>

      <div *ngIf="errCode || errMsg" class="alert alert-danger">
          <span *ngIf="errCode"> {{errCode}} </span>

          <!-- add a separator, but only if both codes are displayed -->
          <span *ngIf="errCode && errMsg"> &nbsp; - &nbsp; </span>

          <span *ngIf="errMsg"> {{errMsg}} </span>
      </div>

    </fieldset>

  </div> <!-- well-->

  </form>

  </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container-fluid -->

