<div class="container-fluid">

    <div *ngIf="err"> {{ errMsg || '' }} <br> {{ err }} </div>

    <h1>{{ title }} </h1>

    <!-- layout based on
        https://stackoverflow.com/questions/23581571/twitter-bootstrap-3-form-horizontal-and-multiple-input-columns-on-single-line
    -->

    <div class="row">
      <div class="col-sm-8">

      <legend class="small">Fields maked <i class="glyphicon glyphicon-asterisk" alt="*"></i> are required.</legend>


      <form [formGroup]="form" (ngSubmit)="createOrEditForm()" >

      <div class="well">

        <fieldset>

          <div class="form-group">
            <label id="fullName" for="fullName">Name <i class="glyphicon glyphicon-asterisk" alt="*"></i> </label>
              <input
                  type="text"
                  class="form-control"
                  formControlName="fullName"
                  aria-required="true"
                  aria-labelledby="fullName">

              <div *ngIf="form.get('fullName').touched && form.get('fullName').hasError('required')"
                  class="alert alert-danger"  >
                  Name is required
              </div>
          </div> <!-- form-group, full name -->

          <div class="form-group">
            <label id="collegeId" for="collegeId">College ID *</label>
            <input
                type="text"
                class="form-control"
                placeholder="G0 followed by 7 digits"
                id="collegeIdPlaceHolder"
                formControlName="collegeId"
                aria-required="true"
                aria-labelledby="collegeId collegeIdPlaceHolder" >

            <div *ngIf="collegeId.touched && collegeId.hasError('required')"
                class="alert alert-danger"  >
                College ID is required
            </div>
            <div *ngIf="collegeId.touched && collegeId.errors?.collegeIdFormat"
                class="alert alert-danger"  >
                College ID is of the format G0 followed by 7 digits
            </div>
          </div> <!-- form-group -->

          <div class="form-group">
            <label id="phone" for="phone">Phone </label>
            <input
                type="text"
                class="form-control"
                formControlName="phone"
                aria-labelledby="phone">
          </div> <!-- form-group -->

          <div class="form-group">
              <label id="email" for="email">Email</label>
              <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  aria-labelledby="email">

              <div *ngIf="email.touched && email.errors?.email"
                  class="alert alert-danger" >
                  Please check your email format
              </div>
            </div> <!-- form-group -->

        </fieldset>
      </div> <!-- well -->

      <div class="well">
        <fieldset>

          <div class="form-group" >
              <label id="feedbackMessage" for="feedbackMessage" >Feedback -- suggestions, complaints, compliments, etc.
                  <i class="glyphicon glyphicon-asterisk" alt="*"></i>  </label>
                <textarea
                    placeholder="Please tell us how we can improve DSPS Services"
                    class="form-control"
                    formControlName="feedbackMessage"
                    rows="5"
                    aria-required="true"
                    aria-labelledby="feedbackMessage">
                </textarea>

            </div>  <!-- form-group , emergency assistance -->
        </fieldset>
      </div>

      <div class="well">
        <fieldset>
          <legend>Please type your name to sign</legend>
          <div class="form-group">
            <label id="studentSignature" for="studentSignature">
                Signature (type your name) <i class="glyphicon glyphicon-asterisk"></i>

                <app-agreement-link-dialog [formName]="formName"></app-agreement-link-dialog>

            </label>
            <input
                type="text"
                class="form-control"
                formControlName="studentSignature"
                aria-labelledby="studentSignature"
                aria-required="true" >

            <div *ngIf="form.get('studentSignature').touched && form.get('studentSignature').hasError('required')"
                class="alert alert-danger" >
                Student signature is required
            </div>
          </div> <!-- form-group -->
        </fieldset>
      </div>

      <div class="form-row right vert-space">
          <button type="submit"
                  [disabled]="!form.valid || !form.dirty"
                  class="btn btn-primary"
          >Submit</button>
          <div *ngIf="!form.valid || !form.dirty">
              <br>
              <legend class="small">
                This button will be enabled only after all fields are filled.
              </legend>
          </div>

      </div>

      </form>

      </div> <!-- col-sm-8 -->
    </div> <!-- row -->

  </div> <!-- container -->

