<div class="container-fluid" *ngIf="initialized"  >

  <div class="row">
    <div class="col-sm-8">



  <form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="checkAndUpdatePassword()"  (keydown.enter)="onEnterKeyDown($event)" >

    <div class="well">
      <fieldset>
        <legend>Change Password</legend>
      </fieldset>

        <div class="form-group">
          <label >Old Password *</label>
          <input type="password"
                class="form-control"
                formControlName="oldPassword"
                placeholder="Old Password" >

            <div *ngIf="oldPassword.touched && !oldPassword.valid"  class="alert alert-danger">
              Old Password is required.
            </div>
        </div> <!-- form-group -->

        <div formGroupName="newPasswords">


          <div class="form-group">
              <label>Password *</label>
              <input type="password" formControlName="password1" class="form-control" placeholder="New Password">


            <div *ngIf="password1.touched && !password1.valid" class="alert alert-danger">
              Password is required.
            </div>
          </div> <!-- form-group -->

            <div class="form-group">
              <label>Confirm Password *</label>
              <input type="password" formControlName="password2" class="form-control">

            </div> <!-- form-group-->

            <div *ngIf="password1.touched && !password1.valid" class="alert alert-danger" >
             Please confirm your password.
            </div>

            <div *ngIf="password1.touched && password2.touched && password1.value != password2.value"
                class="alert alert-danger">
                 Passwords do not match.
            </div>

          </div> <!-- formGroupName == passwords -->

          <button class="btn btn-primary"
              [disabled]="!changePasswordForm.valid"
              type="submit" >Change Password</button>


          <!-- show the spinner when data is being submitted to the server -->
          <app-spinner [visible]="busy"></app-spinner>

          <!-- <div *ngIf="submitStatus">

            <ion-item *ngIf="submitStatus.message" lines="none">
              <ion-label color="danger"> {{ submitStatus.message }} </ion-label>
            </ion-item>

            <ion-item *ngIf="submitStatus.err">
              <ion-label color="danger"> {{submitStatus.err}} </ion-label>
            </ion-item>

          </div> -->




    </div> <!-- well -->

  </form>

</div> <!-- col-sm-8 -->
</div> <!-- row -->
</div> <!-- container-fluid -->



