<div class="container-fluid" *ngIf="initialized" >

    <h3>{{ title }} </h3>

    <div class="row">
      <div class="col-sm-10">

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title inline">
                Student
            </div>
          </div> <!-- panel-heading -->

          <div class="panel-body">
            <table class="table table-bordered">
              <tr><td>Agreement for</td> <td> {{ formData.agreementForForm }} </td></tr>
              <tr><td>Agreement</td> <td>{{ formData.agreement }}</td></tr>
              <tr *ngIf="loggedIn">
                <td>Created / Last Edited By</td> <td> {{ createdOrEditedBy }} </td>
              </tr>
             </table>
          </div> <!-- panel-body -->
        </div> <!-- panel, panel-default -->

      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->

  <!--

  -->


