<div class="container-fluid" *ngIf="wrappedForm.created" >

    <h1>{{ title }} </h1>



    <div class="row">
      <div class="col-sm-10">

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title inline">
                Student Applicant
            </div>
          </div> <!-- panel-heading -->

          <div class="panel-body">
            <table class="table table-bordered">
                <tr><td>Initial Date of Application for DSPS Services</td> <td> {{ wrappedForm.form.initialDate }} </td></tr>
              <tr><td>Full Name</td> <td> {{ wrappedForm.form.fullName }} </td></tr>
              <tr>
                <td>College ID</td>
                <!-- older version used ssnCollegeId, so it's listed here as well. TODO cleanup db -->
                <td>
                  {{ wrappedForm.form.collegeId }} {{ wrappedForm.form.ssnCollegeId }}
                </td></tr>
              <tr><td>Phone</td> <td> {{ wrappedForm.form.phone }} </td></tr>
              <tr><td>Student Signature</td> <td> {{ wrappedForm.form.studentSignature }} </td></tr>
            </table>
          </div> <!-- panel-body -->
        </div> <!-- panel, panel-default -->

      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->

  <!--
      initialDate: ['', Validators.required],
      fullName: ['', Validators.required],
      ssnCollegeId: ['', Validators.required],
      phone: ['', Validators.required],
      studentSignature: ['', Validators.required],
  -->
