<!--
  <div *ngIf="jsonFormat">
    Printing stuff
    <p></p>

    <pre>{{ list | json  }} </pre>
  </div>

  <div class="right">
      <a class=" btn btn-warning" (click)="toggleJsonFormat()">Toggle JSON format</a>
  </div>
-->

<div class="container-fluid">
    <h3>Submitted Forms: {{ formInfo.formTitle }} </h3>
    <div class="vert-spacing">
      Showing {{ state}} forms.

      <!-- /submittedForm/formName/current -->
      <a *ngIf="state !== 'current'"  class="btn btn-default horz-spacing"
          [routerLink]="[submittedAbs, formInfo.formName, 'current']">
            Show Current
      </a>

      <a *ngIf="state !== 'archived'" class="btn btn-primary horz-spacing"
          [routerLink]="[submittedAbs, formInfo.formName, 'archived']">
            Show Archived
      </a>

      <a *ngIf="state !== 'deleted'" class="btn btn-warning horz-spacing"
        [routerLink]="[submittedAbs, formInfo.formName, 'deleted']">
          Show Deleted
      </a>



    </div>

  <!-- search box for finding results for a student -->
  <app-search></app-search>

  <div class="row">
    <div class="col-sm-8">

      <div *ngIf="!list || list.length == 0">
        There is no form to show here.
      </div>

      <ul class="list-group" *ngIf="list && list.length > 0">
        <div *ngFor="let item of list; let i=index">

          <!-- ngIf will skip placeHolder node if any

            1/2019: show only if
            item.state is undefined or
            item.state == state
          -->
          <li *ngIf="item.formName && isCorrectState(item.state)"
            class="list-group-item" >

            <div class="grid-simple-2">

              <!-- first grid child -->
              <!-- /submittedForm/formName/formKey -->
              <a
              [routerLink]="[submittedAbs, getFormName(item), state, getKey(item)]">
              {{ getVal(item) }}
              </a>

              <!-- second grid child -->
              <div>
                {{ item.created | date }}
              </div>


            </div>


          </li>
        </div> <!-- ngFor-->

      </ul>

      <!-- pagination -->
      <app-pagination
          [maxItems]="maxItems"
          [pageSize]="pageSize" >
    </app-pagination>

    </div>
  </div>
</div>
