<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a
            class="navbar-brand"
            [class.active]="isCurrentlyActive('home')"
            routerLink="/" >
                DSPS
                <active-link-sr [isActive]="isCurrentlyActive('home')"></active-link-sr>
        </a>
     </div> <!-- navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li
                [class.active]="isCurrentlyActive('newForm')">
                <a routerLink="/newForm">List of Forms
                    <active-link-sr [isActive]="isCurrentlyActive('newForm')"></active-link-sr>
                </a>
            </li>
            <li *ngIf="staffAuth"
                [class.active]="isCurrentlyActive('submittedForm')">
                <a routerLink="/submittedForm">Submitted Forms
                    <active-link-sr [isActive]="isCurrentlyActive('submittedForm')"></active-link-sr>
                </a>
            </li>
            <li *ngIf="adminAuth"
                [class.active]="isCurrentlyActive('addNewStaffUser')">
                <a routerLink="/addNewStaffUser">Add New Staff Member
                    <active-link-sr [isActive]="isCurrentlyActive('addNewStaffUser')"></active-link-sr>
                </a>
            </li>
            <li *ngIf="staffAuth"
                [class.active]="isCurrentlyActive('showUsers')">
                <a routerLink="/showUsers">Show Users
                    <active-link-sr [isActive]="isCurrentlyActive('showUsers')"></active-link-sr>
                </a>
            </li>
            <li *ngIf="school">
              <a target="_blank" href="{{school.url}}">{{school.name}}</a>
            </li>
            <li *ngIf="loggedIn">
              <a  routerLink="/auth/change-password">Change Password</a>
            </li>
        </ul> <!-- nav navbar-nav -->

          <div class="navbar-text navbar-right">
              <button *ngIf="!loggedIn" (click)="login()">Staff Login</button>
              <button *ngIf="loggedIn" (click)="logout()">Logout</button>
          </div>
            <!--
              Signed in as <a href="#" class="navbar-link">Foo</a>
            -->



    </div><!-- collapse navbar-collapse -->
  </div><!-- container-fluid -->
</nav>
