<div class="container-fluid">

  <div *ngIf="err"> {{ errMsg || '' }} <br> {{ err }} </div>

  <h1>{{ title }} </h1>


  <div class="row">
      <div class="col-sm-10">



  <form [formGroup]="form" (ngSubmit)="createOrEditForm()" >

  <div class="well">

    <fieldset>
      <legend id="you" aria-label="Your">You</legend>
      <legend class="small">Fields marked with <i class="glyphicon glyphicon-asterisk"></i> are required.</legend>

      <div class="form-group">
          <label id="fullName" for="fullName">Name <i class="glyphicon glyphicon-asterisk"></i></label>
          <input
                      type="text"
                      class="form-control"
                      formControlName="fullName"
                      aria-labelledby="you fullName"
                      aria-required="true"
                      aria-describedby="nameError"
                      >
            <div *ngIf="form.get('fullName').touched && form.get('fullName').hasError('required')"
                      class="alert alert-danger" id="nameError" >
                      Name is required
            </div>
      </div> <!-- form-group, full name -->

      <div class="form-group">
        <label id="collegeId" for="collegeId">College ID
            <i class="glyphicon glyphicon-asterisk"></i>
        </label>
        <input
                  type="text"
                  class="form-control"
                  placeholder="G0 followed by 7 digits"
                  id="collegeIdPlaceHolder"
                  formControlName="collegeId"
                  aria-labelledby="you collegeId collegeIdPlaceHolder"
                  aria-describedby="colledgeIdReqdError colledgeIdFormatError"
                  aria-required="true"
                  >
        <div *ngIf="collegeId.touched">
            <div *ngIf="collegeId.hasError('required')"
              class="alert alert-danger"
              id="colledgeIdReqdError" >
              College ID is required
            </div>
            <div *ngIf="collegeId.errors?.collegeIdFormat"
              class="alert alert-danger"
              id="colledgeIdFormatError" >
              College ID is of the format G0 followed by 7 digits
            </div>
        </div>

      </div> <!-- form-group, college id -->

      <div class="form-group">
          <label id="email" for="email">Email
             <i class="glyphicon glyphicon-asterisk"></i>
          </label>
          <input
              type="text"
              class="form-control"
              formControlName="email"
              aria-labelledby="you email"
              aria-describedby="emailReqdError emailFormatError"
              aria-required="true"
              >
          <div *ngIf="email.touched">
            <div *ngIf="email.hasError('required')"
              class="alert alert-danger"
              id="emailReqdError">
              Email is required
            </div>
            <div *ngIf="email.errors?.email"
                class="alert alert-danger"
                id="emailFormatError" >
                Please enter a valid email
            </div>
          </div>


      </div>


      <div class="form-group">
        <label id="cellPhone" for="cellPhone">Phone
          <i class="glyphicon glyphicon-asterisk"></i>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="cellPhone"
          aria-labelledby="you cellPhone"
          aria-required="true"
          aria-describedby="phoneError"
          >
        <div *ngIf="form.get('cellPhone').touched && form.get('cellPhone').hasError('required')"
          class="alert alert-danger"
          id="phoneError">
           Phone is required
        </div>
      </div>

    </fieldset>

  </div> <!-- well -->

  <div class="well">

    <fieldset>
      <legend id="altFormatText">
        Alternate Format Textbooks Needed
      </legend>
      <legend class="small">
          Please provide the following information for each textbook
          requested in an alternate format.
      </legend>


      <table formArrayName="altFormatDetail" class="table table-bordered">
          <thead>
              <th id="courseTitleSection" scope="col" >Course Title and Section Number
                  <i class="glyphicon glyphicon-asterisk"></i>
              </th>
              <th id="isbn" aria-label="ISBN Number" scope="col" >ISBN #</th>
              <th id="bookTitleAuthor">Book Title / Author
                  <i class="glyphicon glyphicon-asterisk"></i>
              </th>
              <th id="edition" scope="col" >Edition</th>
              <th id="remove" aria-label="Remove" scope="col"></th>
              <!--
              if the user were logged on, add edit and delete
             -->
          </thead>

          <!-- these are not really needed. user is not logged on, so has no previous data to show -->
          <!--
          <tr *ngFor="let altBook of altBooks">
              <td>{{ altBook.courseTitleAndSection }} </td>
              <td>{{ altBook.isbn }} </td>
              <td>{{ altBook.bookTitleAndAuthor }} </td>
              <td>{{ altBook.edition }} </td>
              <td>
                  <i (click)="deleteAltBook(altBook)"
                      class="glyphicon glyphicon-remove">
                  </i>
              </td>
          </tr>
          -->

          <!-- the form table -->

          <!-- <tr *ngFor="let item of myForm.controls.altFormatDetail.controls; let i=index" -->
          <tr *ngFor="let item of formAltFormatDetail.controls; let i=index; trackBy:trackByFn"
                  [formGroupName]="i" [id]="i" aria-label="i" >

              <td class="form-group" >
                  <textarea
                    placeholder="Course"
                    class="form-control"
                    formControlName="courseTitleAndSection"
                    rows="3"
                    aria-required="true"
                    aria-labelledby="altFormatText courseTitleSection i"
                    #altFormatItem
                    >
                  </textarea>


                  <div
                  *ngIf="form.get('altFormatDetail').at(i).get('courseTitleAndSection').touched && form.get('altFormatDetail').at(i).get('courseTitleAndSection').hasError('required')"
                    class="alert alert-danger" >
                    Course title / section  required
                  </div>

              </td>
              <td class="form-group" >
                <textarea
                  placeholder="ISBN"
                  class="form-control"
                  formControlName="isbn"
                  rows="3"
                  aria-labelledby="altFormatText isbn i">
                </textarea>
              <td class="form-group" >
                <textarea
                  placeholder="Book and Author"
                  class="form-control"
                  formControlName="bookTitleAndAuthor"
                  rows="3"
                  aria-labelledby="altFormatText bookTitleAuthor i"
                  aria-required="true" >
                </textarea>
                <div
                  *ngIf="form.get('altFormatDetail').at(i).get('bookTitleAndAuthor').touched && form.get('altFormatDetail').at(i).get('bookTitleAndAuthor').hasError('required')"
                    class="alert alert-danger" >
                    Book Title / Author  required
                  </div>

              </td>
              <td class="form-group" >
                <textarea
                  placeholder="Edition"
                  class="form-control"
                  formControlName="edition"
                  rows="3"
                  aria-labelledby="altFormatText edition i">
                </textarea>

              </td>
              <td>
                  <i (click)="delete(i)"
                    class="glyphicon glyphicon-remove vert-center"
                    role="button"
                    aria-labelledby="altFormatText remove i"
                    tabindex="0">
                  </i>

              </td>

          </tr>
      </table>

      <div class="right">
        <button class=" btn btn-warning" (click)="addRow()">Add Another Text</button>
      </div>



    </fieldset>

    <fieldset>
      <legend id="preferredFileFormat">
        Preferred File Format
      </legend>
      <legend id="preferredFileFormatMore" class="small">
          Choose a specific file format from the list below. You may choose first and second choice.
      </legend>

      <div formGroupName="preferredFileFormat">

            <div class="form-group">
              <label id="kurzWeilFirefly" for="kurzWeilFirefly" class="checkbox-inline">
                  <input type="checkbox" formControlName="kurzWeilFirefly"
                  aria-labelledby="preferredFileFormat preferredFileFormatMore kurzWeilFirefly"
                  >Kurzweil/firefly
              </label>
              <label id="msWord" for="msWord" class="checkbox-inline ">
                  <input type="checkbox" formControlName="msWord"
                  aria-labelledby="preferredFileFormat msWord" >MS Word
              </label>
              <label id="pdf" for="pdf" class="checkbox-inline ">
                  <input type="checkbox" formControlName="pdf"
                  aria-labelledby="preferredFileFormat pdf" >PDF
              </label>
              <label id="learningAlly" for="learningAlly" class="checkbox-inline ">
                  <input type="checkbox" formControlName="learningAlly"
                  aria-labelledby="preferredFileFormat learningAlly" >Learning Ally
              </label>
              <label id="audio" for="audio" class="checkbox-inline ">
                  <input type="checkbox" formControlName="audio"
                  aria-labelledby="preferredFileFormat audio">Audio
              </label>
              <label id="braillePaper" for="braillePaper" class="checkbox-inline ">
                  <input type="checkbox" formControlName="braillePaper"
                  aria-labelledby="preferredFileFormat braillePaper">Braille (paper)
              </label>
              <label id="largePrint" for="largePrint" class="checkbox-inline ">
                  <input type="checkbox" formControlName="largePrint"
                  aria-labelledby="preferredFileFormat largePrint">Large Print
              </label>
            </div>
      </div>
    </fieldset>


  </div> <!-- well -->



  <div class="vert-space">&nbsp;</div>

  <div class="row">



    <div class="form-group col-sm-8">
      <label id="signature" for="signature">Signature (type your name) <i class="glyphicon glyphicon-asterisk"></i>
        <app-agreement-link-dialog [formName]="formName"></app-agreement-link-dialog>
      </label>
          <input
              type="text"
              class="form-control"
              formControlName="signature"
              aria-labelledby="signature"
              aria-required="true"
          >
          <div *ngIf="form.get('signature').touched && form.get('signature').hasError('required')"
                  class="alert alert-danger" >
                  Signature is required
          </div>
    </div> <!-- form-group signature -->

  <!-- <div class="clearfix"></div> -->

    <div class="form-group col right">
      <div class=button-space>
        <button type="submit"
          [disabled]="!form.valid || !form.dirty || formSubmitted"
                class="btn btn-primary"
        >Submit</button>
        <div *ngIf="!form.valid || !form.dirty">
            <br>
            <legend class="small">
              You can submit only if required fields are filled
            </legend>
        </div>

      </div>

    </div>

    </div> <!-- inner row -->



  </form>
  </div>  <!-- col-sml-8 -->
  </div>  <!-- row -->
  </div> <!-- container-fluid -->
