legend.small{
    font-size: normal;
}
th, .center {
    text-align:center;
}
.right {
    text-align:right;
}
.vert-space {
  padding-top: 10px;
}
.button-space {
  padding-top: 20px;
  margin-right: 19px;
}
/* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
not working */
.vert-center0 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.vert-center {
  margin-top: 30px;
}
