legend.small{
    font-size: normal;
}
th, .center {
    text-align:center;
}
.right {
    text-align:right;
}
.vert-space {
  padding-top: 10px;
}
.button-space {
  padding-top: 20px;
  margin-right: 19px;
}
