<div class="container-fluid">

    <div *ngIf="err"> {{ errMsg || '' }} <br> {{ err }} </div>

    <h1>{{ title }} </h1>


    <div class="row">
        <div class="col-sm-8">

            <legend class="small">Fields marked with <i class="glyphicon glyphicon-asterisk" alt="*"></i> are required.</legend>


    <form [formGroup]="form" (ngSubmit)="createOrEditForm()" >

    <div class="well">



    <fieldset>
      <legend id="you" aria-label="Your">You</legend>

      <div class="form-group">
          <label id="fullName" for="fullName">Full Name
            <i class="glyphicon glyphicon-asterisk" alt="*"></i>
          </label>
          <input
                      type="text"
                      class="form-control"
                      formControlName="fullName"
                      aria-required="true"
                      aria-labelledby="you fullName"
                      >
            <div *ngIf="form.get('fullName').touched && form.get('fullName').hasError('required')"
                      class="alert alert-danger" tabindex="0" >
                      Name is required
            </div>
      </div> <!-- form-group, full name -->

      <div class="form-group">
        <label id="collegeId" for="collegeId">College ID
            <i class="glyphicon glyphicon-asterisk" alt="*"></i>
        </label>
          <input
                      type="text"
                      class="form-control"
                      placeholder="G0 followed by 7 digits"
                      id="collegeIdPlaceHolder"
                      formControlName="collegeId"
                      aria-labelledby="you collegeId collegeIdPlaceHolder"
                      aria-required="true"
                      >
        <div *ngIf="collegeId.touched && collegeId.hasError('required')"
                          class="alert alert-danger" tabindex="0" >
                          College ID is required
        </div>
        <div *ngIf="collegeId.touched && collegeId.errors?.collegeIdFormat"
              class="alert alert-danger" tabindex="0" >
              College ID is of the format G0 followed by 7 digits
        </div>

      </div> <!-- form-group, college id -->
    </fieldset>

    </div> <!-- well-->

    <div class="well">

    <fieldset>
      <legend id="yourContactInfo" aria-label="Your" >Your Contact Information</legend>

      <div class="form-group">
          <label id="homePhone" for="homePhone">Home Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="homePhone"
            aria-labelledby="yourContactInfo homePhone"
            >
      </div>

      <div class="form-group">
          <label id="workPhone" for="workPhone">Work Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="workPhone"
            aria-labelledby="yourContactInfo workPhone"
            >
      </div>

      <div class="form-group">
        <label id="addressLine1" for="addressLine1">Address Line</label>

        <input
                  type="text"
                    class="form-control"
                    formControlName="addressLine1"
                    aria-labelledby="yourContactInfo addressLine1"
                    >
      </div>  <!-- form-group, addressLine1 -->

      <div class="form-group">
        <label id="city" for="city" >City</label>
        <input
              type="text"
              class="form-control"
              formControlName="city"
              aria-labelledby="yourContactInfo city"
              >
      </div> <!-- form-group, city -->

      <div class="form-group">
        <label id="zip" for="zip">Zip</label>
        <input
            type="text"
            class="form-control"
            formControlName="zip"
            aria-labelledby="yourContactInfo zip"
            >
      </div> <!-- form-group, zip -->

    </fieldset>
    </div> <!-- well, contact info-->

    <div class="well">
      <fieldset>

        <div class="form-group">
              <label id="collegeCounselor" for="collegeCounselor">Mission College Counselor/Advisor</label>
              <input
                  type="text"
                  class="form-control"
                  formControlName="collegeCounselor"
                  aria-labelledby="collegeCounselor"
                  >
        </div> <!-- form-group, zip -->

      </fieldset>
    </div>



    <div class="well">

    <fieldset>

      <legend>Ambulatory?
        <span id="updateAmbulatory"> Be sure to update any changes with DSPS</span>
      </legend>
      <div class="form-group">
        <label id="ambulatory"> Ambulatory?</label>
        <label id="ambulatoryYes" for="ambulatory" class="radio-inline">
            <input type="radio" name="ambulatory" formControlName="ambulatory" value="yes"
            aria-labelledby="ambulatory ambulatoryYes">Yes
        </label>
        <label id="ambulatoryNo" for="ambulatory" class="radio-inline">
            <input type="radio" name="ambulatory" formControlName="ambulatory" value="no"
            aria-labelledby="ambulatory ambulatoryNo" >No
        </label>
      </div>
      <div class="form-group" *ngIf="form.get('ambulatory').value == 'no'">
        <label id="preferredPositioning" for="preferredPositioning" >Preferred Positioning</label>
         <input
              type="text"
              aria-placeholder="Not Ambulatory? Be sure to update any changes with DSPS"
              class="form-control"
              formControlName="preferredPositioning"
              aria-labelledby="preferredPositioning"
            >

      </div>  <!-- form-group , ambulatory -->



    </fieldset>

    </div> <!-- well, ambulatory -->

    <div class="well">
      <fieldset>

        <legend>A bit more about you</legend>

      <!-- some vertical space -->
      <div style="height:20px;"></div>

      <div formGroupName="transportation">

        <div class="form-group">
          <label id="transportation" >What mode of transportation do you normally use to attend school?</label> <br>
          <label id="vtaBus" for="vtaBus" class="checkbox-inline">
              <input type="checkbox" formControlName="vtaBus"
              aria-labelledby="transportation vtaBus">VTA Bus
          </label>
          <label id="vtaAccess" for="vtaAccess" class="checkbox-inline ">
              <input type="checkbox" formControlName="vtaAccess"
              aria-labelledby="transportation vtaAccess" >VTA Access
          </label>
          <label id="taxi" for="taxi" class="checkbox-inline ">
              <input type="checkbox" formControlName="taxi"
              aria-labelledby="transportation taxi" >Taxi/Ride Share
          </label>
        </div>

        <div class="form-group">
          <label id="transportationOther" for="transportationOther">Other</label>
              <input
                    type="text"
                    class="form-control"
                    formControlName="other"
                    aria-labelledby="transportation transportationOther"
              >
        </div>
      </div>

      <div class="form-group">
          <label id="needEmergencyAssist" class="space-right">Do you need assistance during an emergency?</label>
          <label id="needEmergencyAssistYes" for="needEmergencyAssist" class="radio-inline">
              <input type="radio" name="needEmergencyAssist" formControlName="needEmergencyAssist" value="yes"
              aria-labelledby="needEmergencyAssist needEmergencyAssistYes">Yes
          </label>
          <label id="needEmergencyAssistNo" for="needEmergencyAssist" class="radio-inline ">
              <input type="radio" name="needEmergencyAssist" formControlName="needEmergencyAssist" value="no"
              aria-labelledby="needEmergencyAssist needEmergencyAssistNo" >No
          </label>
      </div>

      <div class="form-group" *ngIf="form.get('needEmergencyAssist').value == 'yes'">
          <label id="assistDesc" for="assistDesc" >Describe the type of assistance you anticipate needing</label>
            <textarea
                placeholder="Type of Emergency Assitance"
                class="form-control"
                formControlName="assistDesc"
                rows="3"
                aria-labelledby="assistDesc">
            </textarea>

        </div>  <!-- form-group , emergency assistance -->

    </fieldset>

    </div> <!-- well, a bit more about you -->

    <div class="well">  <!-- two emergency contacts -->

      <fieldset>
          <legend id="emergencyContact">List two emergency contacts</legend>

          <div  formGroupName="emergencyContact1">

              <div class="form-group col-sm-6">
                      <input
                      type="text"
                      class="form-control"
                      placeHolder="Name 1"
                      id="emergencyContactName1"
                      formControlName="name"
                      aria-labelledby="emergencyContact emergencyContactName1"
                      >
              </div>


              <div class="form-group col-sm-6">
                  <input
                      type="text"
                      class="form-control"
                      placeHolder="Phone 1"
                      formControlName="phone"
                      id="emergencyContactPhone1"
                      aria-labelledby="emergencyContact emergencyContactPhone1"
                  >
              </div>

          </div> <!-- emergencyContact1 -->

          <div formGroupName="emergencyContact2">

            <div class="form-group col-sm-6">
                  <input
                  type="text"
                  class="form-control"
                  placeHolder="Name 2"
                  id="emergencyContactName2"
                  formControlName="name"
                  aria-labelledby="emergencyContact emergencyContactName2"
                  >
            </div>


            <div class="form-group col-sm-6">
                <input
                    type="text"
                    class="form-control"
                    placeHolder="Phone 2"
                    formControlName="phone"
                    id="emergencyContactPhone2"
                    aria-labelledby="emergencyContact emergencyContactPhone2"
                >
            </div>

          </div> <!-- emergencyContact2-->



      </fieldset>
      </div> <!-- well, emergency contacts -->

      <div class="bold">
          If you are a wheelchair user, please label your wheelchair with
          identification information.  The information on this form will be shared
          only with the appropriate personnel on a need to know basis.

      </div>

      <!-- some vertical space -->
      <div style="height:20px;"></div>

            <div class="form-group" class="col-sm-6">
                <label id="signature" for="signature">Signature (type your name) <i class="glyphicon glyphicon-asterisk"></i>
                  <app-agreement-link-dialog [formName]="formName"></app-agreement-link-dialog>
                </label>

                <input
                        type="text"
                        class="form-control"
                        formControlName="signature"
                        aria-required="true"
                        aria-labelledby="signature"
                >
                <div *ngIf="form.get('signature').touched && form.get('signature').hasError('required')"
                            class="alert alert-danger" tabindex="0" >
                            Signature is required
                </div>
            </div> <!-- form-group signature -->



            <div class="form-row right vert-space">
                <button type="submit"
                        [disabled]="!form.valid || !form.dirty"
                        class="btn btn-primary"
                >Submit</button>
                <div *ngIf="!form.valid || !form.dirty">
                    <br>
                    <legend class="small">
                      You can submit only if required fields are filled
                    </legend>
                </div>

            </div>


      </form>

    </div> <!-- outer col-sm-6 well -->
    </div> <!-- outer row -->

    </div> <!-- container -->

    <div> &nbsp;
        <!-- some space-->
        <p> &nbsp;</p>
        <p> &nbsp;</p>
    </div>


