/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.glyphicon.glyphicon-asterisk {
  font-size: 8px;
}

/* hide the recaptcha badge */
div.grecaptcha-badge {
 /* width:0 !important; */
 display: none;
}
/* increase contrast */
.breadcrumb > .active {
  color: #000;
}
.breadcrumb {
  font-size: 100%;
}
legend.small{
  font-size: 100%;
}
.grid-simple-2 {
  display:grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 20px;
}
