
<div *ngIf="formInfo.formName == 'altMediaRequest' ">
 <app-view-alt-media-request 
      [formKey]="data.formKey" 
      [wrappedForm]="data.form" >
 </app-view-alt-media-request>
</div>

<div *ngIf="formInfo.formName == 'intakeForm' ">
     <app-view-intake 
        [formKey]="data.formKey" 
        [wrappedForm]="data.form" >
    </app-view-intake>
</div>

<div *ngIf="formInfo.formName == 'applicationForServices' ">
        <app-view-application-for-services 
           [formKey]="data.formKey" 
           [wrappedForm]="data.form" >
       </app-view-application-for-services>
</div>

<div *ngIf="showJson">
    json
    <p></p>
    <!-- {{ (data.item | async) | json }} -->
    <pre>{{ data | json }}</pre>
</div>
