
<div *ngIf="formInfo.formName == 'altMediaRequest' ">
 <app-view-alt-media-request
      [formKey]="data._id"
      [wrappedForm]="data" >
 </app-view-alt-media-request>
 <app-mark-archive [data]="data" ></app-mark-archive>
</div>

<div *ngIf="formInfo.formName == 'intakeForm' && data ">
     <app-view-intake
        [formKey]="data._id"
        [wrappedForm]="data" >
    </app-view-intake>
    <app-mark-archive [data]="data" ></app-mark-archive>
</div>

<div *ngIf="formInfo.formName == 'applicationForServices' ">
        <app-view-application-for-services
           [formKey]="data._id"
           [wrappedForm]="data" >
       </app-view-application-for-services>
       <app-mark-archive [data]="data" ></app-mark-archive>
</div>

<div *ngIf="formInfo.formName == 'emergencyEvacInfo' ">
    <app-view-emergency-evacuation
       [formKey]="data._id"
       [wrappedForm]="data" >
   </app-view-emergency-evacuation>
   <app-mark-archive [data]="data" ></app-mark-archive>
</div>

<div *ngIf="formInfo.formName == 'feedback' ">
    <app-view-feedback
       [formKey]="data._id"
       [wrappedForm]="data" >
   </app-view-feedback>
   <app-mark-archive [data]="data" ></app-mark-archive>
</div>

<div *ngIf="formInfo.formName == 'complaint' ">
    <app-view-complaint
       [formKey]="data._id"
       [wrappedForm]="data" >
   </app-view-complaint>
   <app-mark-archive [data]="data" ></app-mark-archive>
</div>

<div *ngIf="formInfo.formName == 'historyOfDisability' ">
    <app-view-history-disability
       [formKey]="data._id"
       [wrappedForm]="data" >
   </app-view-history-disability>
   <app-mark-archive [data]="data" ></app-mark-archive>
</div>

<div *ngIf="showJson">
    json
    <p></p>
    <!-- {{ (data.item | async) | json }} -->
    <pre>{{ data | json }}</pre>
</div>
