
<div *ngIf="formInfo.formName == 'altMediaRequest' ">
 <app-view-alt-media-request
      [formKey]="data._id"
      [wrappedForm]="data" >
 </app-view-alt-media-request>
</div>

<div *ngIf="formInfo.formName == 'intakeForm' && data ">
     <app-view-intake
        [formKey]="data._id"
        [wrappedForm]="data" >
    </app-view-intake>
</div>

<div *ngIf="formInfo.formName == 'applicationForServices' ">
        <app-view-application-for-services
           [formKey]="data._id"
           [wrappedForm]="data" >
       </app-view-application-for-services>
</div>

<div *ngIf="showJson">
    json
    <p></p>
    <!-- {{ (data.item | async) | json }} -->
    <pre>{{ data | json }}</pre>
</div>
